<h1>Fight It Out</h1>
<p>Select heroes and seed numbers to see what Marvel hero would come out on top.</p>

<div class="form">
  <%= render_async_cache kombat_form_path, error_message: 'sorry, failed trying to load character list!' do %>
    loading...
  <% end %>
</div>

<p id="result"></p>
